.profile-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--coloursecondary);
  max-width: 100%;
  display: block;
  margin: 20px auto;
}

.profile-pic:hover {
  border: 5px solid var(--colouraccent);
}

.introduction p {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6;
  color: var(--coloursecondary);   
}

.introduction .name {
  color: var(--colouraccent);
}