.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.email-form {
  background-color: var(--coloursecondary);
  color: var(--colourprimary);
  padding: 30px;
  border-radius: 8px;
  border: 5px solid var(--colouraccent);
  width: 90%;
  max-width: 500px;
  position: relative;
}

.email-form form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 400px;
}

.email-form form input[type="email"] {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

.email-form form textarea {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid var(--colourprimary);
  border-radius: 20%;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.close-button:hover {
  background-color: var(--colourprimary);
  color: var(--coloursecondary);
}

.email-form form button[type="submit"]:hover {
  background-color: #0056b3;
}